form {
	width: 40vw;
	margin: 20px;
}

input {
	width: 90%;
	margin: 15px;
}

button {
	width: 30%;
	margin: 15px;
}

.error {
	margin-top: 25px;
	padding: 10px;
	background-color: #cb232f;
	text-align: center;
	border-radius: 10px;
	color: white;
}

.chat {
	width: 100%;
}

.messages {
	max-height: 300px;
	width: 100%;
	background-color: #f0f2f5;
	border-radius: 10px;
	overflow-y: scroll;
}